<% include partials/header %>
<h1>Add Customer</h1>
<% if (errors != undefined) { %>
<div>There were errors</div>
<ul>
  <% errors.forEach( function (error) { %>
    <li>    <%= error.msg %>  </li>
  <% }); %>
</ul>
<% } %>
<form method="Post" action="/users/add">
  <label>First Name</label>
  <br></br>
  <input type="text" name="firstName"></input>
  <br></br>
  <label>Last Name</label>
  <br></br>
  <input type="text" name="lastName"></input>
  <br></br>
  <label>Email</label>
  <br></br>
  <input type="text" name="email"></input>
  <br></br>
  <input type="submit" value="submit"></input>
</form>
<h1>
  hello from <%= title %>
</h1>
<ul>
  <% users.forEach( function (user) { %>
  <li>
    <%= user.firstName %> <%= user.lastName %> - <a class="delete_user" data-id="<%= user._id %>" href="#">Delete</a>

  </li>
  <% }) %>
</ul>
<% include partials/footer %>